.box1 {
  display: flex;
  position: absolute;
  height: 90%;
  width: 50%;
  left: 20%;
  border: 2px black solid;
}
.box2 {
  display: flex;
  position: absolute;
  width: 97%;
  height: 30%;
  border: 2px black solid;
}
#red_bc {
  background-color: red;
}
#blue_bc {
  background-color: blue;
}
#green_bc {
  background-color: green;
}
#ejercicio1 {
  align-items: flex-end;
  justify-content: stretch;
  flex-direction: column;
}
#ejercicio2 {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
#ejercicio3 {
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
.item {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
.ej_1 {
  width: 33%;
  height: 100%;
}
.ej_2 {
  width: 100%;
  height: 33%;
}
.ej_3 {
 width: 17%;
 height: 100%;
}